.idea
*.DS_Store
/vendor
/coverage
/hooks
sftp-config.json
composer.lock
.subsplit
.php_cs.cache
cghooks.lock
/jobs
/temp
index.php
filescommit/
src/Contracts/
src/Server/Handler.php
src/Server/temp/e1085051ceffe80a6e65b765aba328c0.php
bootServer.php
